body {
  font-family: cursive;
  background-color: mintcream;
  color: blue;
  text-align: center;
}

h1 {
    font-size:200%;
}
a {
  text-decoration: underline;
  color: seagreen;
  background-color: lightgrey;
  padding: 20px;
}

