body {
  font-family: Courier New;
  background-color: linen;
  color: blue;
  text-align: center;
}

a {
  text-decoration: underline;
  color: hotpink;
  background-color: lavender;
  padding: 5px;
}

div1, div2{
  display:inline-block;
}
